<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/api/posts/create" method="post">
        제목: <input type="text" placeholder="게시물 제목" name="title" id="title">
        내용: <textarea name="body" id="body" cols="10" placeholder="게시물 내용"></textarea>

        <input type="submit" value="등록" class="btn">
    </form>
</body>
</html>