<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= post.title %></h1>
    <p><%= post.body %></p>
    <p>User ID: <%= post.user_id %></p>
    <p>Created At: <%= post.created_at %></p>
    <a href="/api/posts">Back to All Posts</a>
</body>
</html>